ul {
    margin: 0;
    padding: 0; 
}
ul li {
    list-style: none;
}

header.hero {
    height: 800px;
    width: 100%;
    background: url(../images/mainhero.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000;
    padding-bottom: 80px;
}

header.hero .hero-text {
    margin-top: 20%;
    margin-bottom: 20%;
}

ul.social-links li {
    display: inline-block;
}